@import "tailwindcss";
@import "tw-animate-css";

/* === Font faces === */
@font-face {
  font-family: "Haas Grot Disp";
  src: url("/fonts/haas-grot-disp/hassgrot-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Druk Wide";
  src: url("/fonts/druk-wide/DrukWide-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
 
@theme {
  --font-sans: "Haas Grot Disp", sans-serif;  
}

:root {
  font-family: var(--font-sans);
}
 
@layer utilities {
  .font-druk {
    font-family: "Druk Wide", sans-serif;
  }
}
